.header{
    background-color: white;
    height: 25px;
}
.content{
    background-color: white;
    padding: 20px;
    font-size: 15px;
}
.storelist{
    padding: 20px;
}
.categoryList{
    padding: 20px; 
}
.productList{
    padding: 20px;
}